<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title class="header">
        Create New Coupon
    </title>
</head>
<br />

<div class="new_ride_form">
    <h3>New Coupon Creation</h3>
    <form action="#" th:action="@{/admin/create_new_coupon}" th:object="${coupon}" method="post">
        <label>Coupon ID:</label><br />
        <input type="text" th:field="*{couponId}"><br />
        <label>Discount Offered in Percentage(%): </label><br />
        <input type="text" th:field="*{discountPercentage}"><br />
        <label>Expiry Date:</label><br />
        <input type="text" th:field="*{expiry}"><br />


        <input type="submit" value="Create" />
    </form>
</div>
</html>