<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title class="header">
        Select User
    </title>
    <style>

        .black-border-1 {
            border-color: black;
            border-width: medium;
        }

        .black-border-3 {
            border-radius: 30px;
        }

    </style>
</head>
<body>
<section class="vh-100 bg-image"
         style="background-color: white">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card black-border-3" style="border-color: white; box-shadow: darkgrey 1px 1px 2px 2px">
                        <div class="card-body p-5">
                            <h2 class="text-center mb-5">tell us what you want to do...</h2>
                            <div>
                                <a th:href="@{customer/register}"
                                   class="btn black-border-1 black-border-3 btn-block btn-lg gradient-custom-4 text-body">
                                    I'll ride
                                </a>
                            </div>
                            <br>
                            <div class="d-flex justify-content-center">
                                <a th:href="@{driver/register}"
                                   class="btn black-border-1 black-border-3 btn-block btn-lg gradient-custom-4 text-body">
                                    I'll drive
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>