<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title class="header">
        Register Customer
    </title>
    <style>

        .black-border-1 {
            border-color: black;
            border-width: medium;
        }

        .black-border-3 {
            border-radius: 30px;
        }

    </style>
</head>
<body>


<section class="vh-100 bg-image"
         style="background-color: white">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card black-border-3" style="border-color: white; box-shadow: darkgrey 1px 1px 2px 2px">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-6">Customer Registration</h2>
                            <div th:object="${registrationError}" th:if="${registrationError != null}"
                                 class="alert alert-danger black-border-3">
                                <p th:text="${registrationError}"></p>
                            </div>
                            <form role="form" th:action="@{/customer/register/save}" th:object="${customer}"
                                  method="post">
                                <div class="form-outline mb-1">
                                    <label class="form-label" for="customerName">Your Name</label>
                                    <input type="text" th:field="*{customerName}" id="customerName"
                                           class="form-control form-control-lg black-border-3" required/>
                                </div>
                                <div class="form-outline mb-1">
                                    <label class="form-label" for="customerContact">Your Contact</label>
                                    <input type="text" th:field="*{customerContact}" id="customerContact"
                                           class="form-control form-control-lg black-border-3" required/>
                                </div>
                                <div class="form-outline mb-1">
                                    <label class="form-label" for="customerEmail">Your Email</label>
                                    <input type="email" th:field="*{customerEmail}" id="customerEmail"
                                           class="form-control form-control-lg black-border-3" required/>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="customerPassword">Password</label>
                                    <input type="password" th:field="*{customerPassword}" id="customerPassword"
                                           class="form-control form-control-lg black-border-3" required/>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" value="Request"
                                            class="btn black-border-1 black-border-3 btn-block btn-lg gradient-custom-4 text-body">
                                        Register
                                    </button>
                                </div>
                                <p class="text-center text-muted mt-3 mb-0">Have already an account? <a
                                        th:href="@{/customer/login}"
                                        class="fw-bold text-body"><u>Login
                                    here</u></a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>