<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title class="header">
        Customer Profile
    </title>
    <style>

        .black-border-1 {
            border-color: black;
            border-width: medium;
        }

        .black-border-3 {
            border-radius: 30px;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="margin-left: 30px" href="/customer/view_ride_requests">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/customer/create_ride_request">Request a ride<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/customer/view_ride_requests">My Ride Requests<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/customer/view_ongoing_rides">Current Ride<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/customer/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<section class="vh-100 bg-image"
         style="background-color: white">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card black-border-3" style="border-color: white; box-shadow: darkgrey 1px 1px 2px 2px">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Edit your profile</h2>
                            <form role="form" th:action="@{/customer/update_profile}" th:object="${customerProfile}"
                                  method="post">
                                <div class="form-outline mb-2">
                                    <label class="form-label" for="customerName">Your Name</label>
                                    <input type="text" th:field="*{customerName}" id="customerName"
                                           class="form-control form-control-lg black-border-3" required/>
                                </div>
                                <div class="form-outline mb-2">
                                    <label class="form-label" for="customerContact">Your Contact</label>
                                    <input type="text" th:field="*{customerContact}" id="customerContact"
                                           class="form-control form-control-lg black-border-3" required/>
                                </div>
                                <div class="form-outline mb-2">
                                    <label class="form-label" for="customerEmail">Your Email</label>
                                    <input type="email" th:field="*{customerEmail}" id="customerEmail"
                                           class="form-control form-control-lg black-border-3" required/>
                                </div>
                                <br>
                                <div class="d-flex justify-content-center">
                                    <button type="submit" value="Request"
                                            class="btn black-border-1 black-border-3 btn-block btn-lg gradient-custom-4 text-body">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>