<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title class="header">
        Recommended Rides
    </title>
    <style>

        .black-border-1 {
            border-color: black;
            border-width: medium;
        }

        .black-border-2 {
            border-color: blueviolet;
            border-width: medium;
        }

        .black-border-3 {
            border-radius: 30px;
        }

    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="margin-left: 30px" href="/customer/view_ride_requests">< Back</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
<section class="vh-100 bg-image"
         style="background-color: white">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div>
                    <div class="card black-border-3 mt-5 mb-5"
                         style="border-color: white; box-shadow: darkgrey 1px 1px 2px 2px">
                        <div class="card-body p-5">
                            <h2 class="text-center mb-5">rides to go with...</h2>
                            <hr>
                            <h4 style="margin-left: 10px">Direct Rides</h4>
                            <table class="table black-border-3">
                                <thead>
                                <tr>
                                    <th>Ride no.</th>
                                    <th>Start location</th>
                                    <th>End location</th>
                                    <th>Seats available</th>
                                    <th>Send a request</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <span th:each="rideList: ${recommendedSingleRides}">
                                        <td>
                                            <tr th:each="ride: ${rideList}">
                                                <td th:text="${ride.rideId}"></td>
                                                <td th:text="${ride.startLocation}"></td>
                                                <td th:text="${ride.endLocation}"></td>
                                                <td th:text="${ride.seatsOffered}"></td>
                                                <td>
                                                    <a class="btn black-border-1 black-border-3"
                                                       th:href="@{/customer/send_ride_request(rideId=${ride.rideId},rideRequestId=${rideRequestId})}">Send Request</a>
                                                </td>
                                                <td>
                                                    <a class="btn black-border-2 black-border-3"
                                                       style="color: blueviolet"
                                                       th:href="@{/customer/view_payment_fare(rideId=${ride.rideId},rideRequestId=${rideRequestId})}">View Price</a>
                                                </td>
                                            </tr>
                                        <td>
                                </span>
                                </tbody>
                            </table>
                            <hr>
                            <h4 style="margin-left: 10px;">Multi Route Rides</h4>
                            <table class="table black-border-1">
                                <thead>
                                <tr>
                                    <th>Ride no.</th>
                                    <th>Start location</th>
                                    <th>End location</th>
                                    <th>Seats available</th>
                                    <th>Send a request</th>
                                    <th>Price</th>
                                </tr>
                                </thead>
                                <tbody>
                                <span th:each="rideList2: ${recommendedMultiRides}">
                                <td>
                                    <tr th:each="ride: ${rideList2}">
                                        <td th:text="${ride.rideId}"></td>
                                        <td th:text="${ride.startLocation}"></td>
                                        <td th:text="${ride.endLocation}"></td>
                                        <td th:text="${ride.seatsOffered}"></td>
                                        <td>
                                            <a class="btn black-border-1 black-border-3"
                                               th:href="@{/customer/send_ride_request(rideId=${ride.rideId},rideRequestId=${rideRequestId})}">Send Request</a>
                                        </td>
                                        <td>
                                            <a class="btn black-border-2 black-border-3" style="color: blueviolet"
                                               th:href="@{/customer/view_payment_fare(rideId=${ride.rideId},rideRequestId=${rideRequestId})}">View Price</a>
                                        </td>
                                    </tr>
                                <td>
                                <br>
                                </span>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</html>