<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title class="header">
        Recommended Rides
    </title>
</head>
<body>
<br/>
<div class="container">
    <h3>Recommended Rides</h3>
    <hr>
    <h4>Direct Rides</h4>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Ride Id</th>
            <th>Start Location</th>
            <th>End Location</th>
            <th>Seats Available</th>
            <th>Send Request</th>
            <th>View Price</th>
        </tr>
        </thead>
        <tbody>
            <span th:each="rideList: ${recommendedSingleRides}">
                    <td>
                        <tr th:each="ride: ${rideList}">
                            <td th:text="${ride.rideId}"></td>
                            <td th:text="${ride.startLocation}"></td>
                            <td th:text="${ride.endLocation}"></td>
                            <td th:text="${ride.seatsOffered}"></td>
                            <td>
                                <a class="btn btn-secondary"
                                   th:href="@{/customer/send_ride_request(rideId=${ride.rideId},rideRequestId=${rideRequestId})}">Send Request</a>
                            </td>
                            <td>
                                <a class="btn btn-secondary"
                                   th:href="@{/customer/send_ride_request(rideId=${ride.rideId},rideRequestId=${rideRequestId})}">View Price</a>
                            </td>
                        </tr>
                    <td>
            </span>
        </tbody>
    </table>


    <hr>
    <h4>Multi Route Rides</h4>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Ride Id</th>
            <th>Start Location</th>
            <th>End Location</th>
            <th>Seats Available</th>
            <th>Send Request</th>
            <th>View Price</th>
        </tr>
        </thead>
        <tbody>
            <span th:each="rideList2: ${recommendedMultiRides}">
                    <td>
                        <tr th:each="ride: ${rideList2}">
                            <td th:text="${ride.rideId}"></td>
                            <td th:text="${ride.startLocation}"></td>
                            <td th:text="${ride.endLocation}"></td>
                            <td th:text="${ride.seatsOffered}"></td>
                            <td>
                                <a class="btn btn-secondary"
                                   th:href="@{/customer/send_ride_request(rideId=${ride.rideId},rideRequestId=${rideRequestId})}">Send Request</a>
                            </td>
                            <td>
                                <a class="btn btn-secondary"
                                   th:href="@{/customer/view_payment_fare(rideId=${ride.rideId},rideRequestId=${rideRequestId})}">View Price</a>
                            </td>
                        </tr>
                    <td>
                    <br>
            </span>
        </tbody>
    </table>
</div>
</body>
</html>