<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title class="header">
        Recommended Rides
    </title>
</head>
<body>
<br/>
<div class="container">
    <h3>Recommended Rides</h3>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Driver Id</th>
            <th>Start Location</th>
            <th>End Location</th>
            <th>Seats Available</th>
            <th>Ride start time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ride: ${recommendedRides}">
            <td th:text="${ride.driverId}"/>
            <td th:text="${ride.startLocation}"/>
            <td th:text="${ride.endLocation}"/>
            <td th:text="${ride.seatsOffered}"/>
            <td th:text="${ride.dateTime}"/>
            <td>
                <a class="btn btn-secondary"
                   th:href="@{/customer/send_ride_request(rideId=${ride.rideId},rideRequestId=${rideRequestId})}">Send
                    Request</a>
            </td>
            <td>
                Status : Pending / Accepted / Request not sent
            </td>
        </tr>
        </tbody>
        <thead class="thead-dark">
        <tr>
            <th>Driver Id 1</th>
            <th>Start Location 1</th>
            <th>End Location 1</th>
            <th>Seats Available</th>
            <th>Driver Id 2</th>
            <th>Start Location 2</th>
            <th>End Location 2</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rideList: ${recommendedMultiRidesAttribute}">
            <td th:text="${rideList.get(0).driverId}"/>
            <td th:text="${rideList.get(0).startLocation}"/>
            <td th:text="${rideList.get(0).endLocation}"/>
            <td th:text="${rideList.get(0).seatsOffered}"/>
            <td th:text="${rideList.get(1).driverId}"/>
            <td th:text="${rideList.get(1).startLocation}"/>
            <td th:text="${rideList.get(1).endLocation}"/>
            <td th:text="${rideList.get(1).seatsOffered}"/>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>