<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title class="header">
        View Coupons
    </title>





</head>
<body>
<br />
<div class="container">
    <h3>View Coupons </h3>
    <a href="/admin/create_new_coupon"
       class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
        + Add
    </a>
    <hr>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Coupon Id</th>
            <th>Discount Percentage %</th>
            <th>Expiry</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="coupon : ${coupons}">
            <td th:text="${coupon.couponId}"/>
            <td th:text="${coupon.discountPercentage}" />
            <td th:text="${coupon.expiry}"/>
            <td>
            <a class="btn btn-danger"
               th:href="@{/admin/delete_coupon(couponId=${coupon.couponId})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>