<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title class="header">
        Payment History
    </title>

    <style>

        .black-border-1 {
            border-color: black;
            border-width: medium;
        }

        .black-border-2 {
            border-color: green;
            border-width: medium;
        }

        .black-border-3 {
            border-radius: 30px;
        }

    </style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/customer/view_ride_requests" style="margin-left: 10px;">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/customer/create_ride_request">Request a ride<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/customer/view_ride_requests">My ride requests<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/customer/view_ongoing_rides">Current ride<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/customer/view_profile">Profile<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/customer/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<section class="vh-100 bg-image"
         style="background-color: white">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div>
                    <div class="card black-border-3" style="border-color: white; box-shadow: darkgrey 1px 1px 2px 2px">
                        <div class="card-body p-5">
                            <h2 class="text-center mb-5">Your ride requests</h2>
                            <table class="table black-border-1">
                                <thead>
                                <tr>
                                    <th>Ride ID</th>
                                    <th>DriverID</th>
                                    <th>Amount Due</th>
                                    <th>Status</th>
                                    <th>Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ride: ${visitedRides}">
                                    <td th:text="${ride.rideId}"/>
                                    <td th:text="${ride.driverId}"/>
                                    <td th:text="${ride.amountDue}"/>
                                    <td th:text="${ride.status}"/>
                                    <td>
                                        <a class="btn black-border-2 black-border-3"
                                           th:if="${ride.status =='NOT_INITIATED'}"
                                           th:href="@{/customer/view_billing(paymentId=${ride.paymentId})}">Pay</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>