<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/demo.css}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <title class="header">
        Driver Approval Requests
    </title>
    <style>

        .black-border-1 {
            border-color: black;
            border-width: medium;
        }

        .black-border-2 {
            border-color: red;
            border-width: medium;
        }

        .black-border-3 {
            border-radius: 30px;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="margin-left: 10px" href="/admin/home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/admin/logout">Logout <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<section class="vh-100 bg-image"
         style="background-color: white">
    <div class="mask d-flex align-items-center h-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div>
                    <div class="card black-border-3" style="border-color: white; box-shadow: darkgrey 1px 1px 2px 2px">
                        <div class="card-body p-5">
                            <h2 class="text-center mb-5">Driver Approval Requests</h2>
                            <table class="table black-border-3">
                                <thead>
                                <tr>
                                    <th>Driver Name</th>
                                    <th>Registered Vehicle Number</th>
                                    <th>Driver License Number</th>
                                    <th>License Expiry Date</th>
                                    <th colspan="2">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="driver: ${approvalRequests}">
                                    <td th:text="${driver.driverName}"/>
                                    <td th:text="${driver.registeredVehicleNumber}"/>
                                    <td th:text="${driver.driverLicense}"/>
                                    <td th:text="${driver.licenseExpiryDate}"/>
                                    <td>
                                        <a class="btn black-border-1 black-border-3"
                                           th:href="@{/admin/updateApprovalStatus(license_id=${driver.driverLicense}, status='accept')}">Accept</a>
                                    </td>
                                    <td>
                                        <a class="btn black-border-2 black-border-3" style="color: red"
                                           th:href="@{/admin/updateApprovalStatus(license_id=${driver.driverLicense}, status='reject')}">Reject</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>