<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <link rel="stylesheet" th:href="@{/css/demo.css}">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
  <title class="header">

  </title>
</head>
<body>
<br />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/customer/view_ride_requests">Customer Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/customer/view_ride_requests">View Rides <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/customer/view_profile">Update Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/customer/view_ongoing_rides">View Ongoing Rides<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/customer/view_payment_details">Payments<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/customer/logout">Logout <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h3>Bill</h3>
  <hr>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>


    </tr>
    </thead>
    <tbody>
    <tr >
          <td>Original amount:</td>
          <td th:text="${fare.originalAmount}"/>

    </tr>
    <tr>
      <td>Discount Avaliable: %</td>
      <td th:text="${fare.discountPercentage}" />
    </tr>
      <tr>
        <td>Deduction: </td>
        <td th:text="${fare.deduction}" />
      </tr>
      <tr>
        <td>Final Amount</td>
        <td th:text="${fare.finalAmount}"/>
      </tr>
    <tr>
      <td>
        <a class="btn btn-success"  th:href="@{/customer/payment_status_success(paymentId=${paymentId})}">Confirm?</a>
      </td>
    </tr>
    </tbody>
  </table>

</div>
</body>
</html>